[Desktop Entry]
Categories=Utility;
Type=Application
Name=Garuda Downloader
Exec=garuda-downloader %f
Icon=garuda-downloader
X-AppImage-Integrate=false
